<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   <mapper namespace="com.once.web.mapper.CustServiceMapper">
      <select id="countCustServices" resultType="int">
         SELECT COUNT(*) FROM CS;
   </select>
   <select id="selectCustServiceList"  resultType="com.once.web.domain.CustService" parameterType="com.once.web.kth.Proxy">
	SELECT *
    FROM CS
    ORDER BY csq DESC
    limit #{startRow}, #{pageSize};
   </select>
   <select id="selectCustService" resultType="com.once.web.domain.CustService">
   SELECT *
   FROM CS
   WHERE CSQ LIKE #{csq};
   </select>
   <select id="searchCountCustServices" resultType="Integer" parameterType="string">
      SELECT DISTINCT COUNT(*)
	  FROM CS
	  WHERE TITLE LIKE #{search};
   </select>
   <select id="selectSearchCustServiceList" resultType="com.once.web.domain.CustService" parameterType="com.once.web.kth.Proxy">
	SELECT DISTINCT *
    FROM CS
    WHERE TITLE LIKE #{search}
    ORDER BY csq DESC
    limit #{startRow}, #{pageSize};
   </select>
   <update id="updateViews" parameterType="com.once.web.domain.CustService">
    UPDATE 
        CS 
      SET 
        VIEWS = VIEWS + 1 
    WHERE 
      CSQ= #{csq};
   </update>
</mapper>