<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.once.web.mapper.CustomersMapper">
<resultMap id="result" type="hashmap">
  <id property="id" column="id" />
  <result property="hcoin" column="hcoin"/>
  <result property="hqua" column="hqua"/>
  <result property="pprice" column="pprice"/>
  <result property="tseq" column="tseq"/>
  <result property="rw" column="rw"/>
  <result property="rwm" column="rwm"/>
</resultMap>

<insert id="insertCustomer">
	INSERT INTO CUSTOMERS (id, hcoin, hqua, pprice)
	VALUES (#{id}, 11, 11, 11)
</insert>
 <select id="selectCustomer" resultMap="result">
 	SELECT * 
 	FROM CUSTOMERS as cu
 		inner join TRANSACTIONS as tr
 		on cu.id like tr.id
 	WHERE cu.id LIKE #{id};
 </select>
 
 <select id="existsCustomerID" parameterType="map" resultType="boolean">
 	SELECT if(COUNT(*)>0,'false', 'true')
 	FROM CUSTOMERS
 	WHERE id LIKE #{id}
 </select>
</mapper>