<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.once.web.mapper.TransactionsMapper">
<select id="selectAllTransactions" resultType="Map">
    SELECT *
    FROM TRANSACTIONS as tr
        inner join CUSTOMERS as cu
        on tr.id like cu.id
    WHERE tr.id LIKE #{id}
    ORDER BY date DESC;
</select>
<insert id="updateTransaction" parameterType="hashMap">
INSERT INTO TRANSACTIONS (id,
						  rw, 
						  unit, 
						  nprice, 
						  date,
						  tprice,
						  dmoney)
		    VALUES(#{id},
		    		#{rw},
		    		 #{unit}, 
		    		 #{nprice},
		    		 #{date},
		    		 #{tprice},
		    		 #{dmoney})
</insert>
<select id="selectAllTrx" resultType="Map">
	SELECT *
    FROM TRANSACTIONS 
    ORDER BY date DESC
</select>
</mapper>